[submodule "lib/common-mysql"]
	path = lib/common-mysql
	url = git@git.analit.net:root/common-mysql.git
[submodule "lib/common-tools"]
	path = lib/common-tools
	url = git@git.analit.net:root/common-tools.git
[submodule "lib/common-models"]
	path = lib/common-models
	url = git@git.analit.net:root/common-models.git
[submodule "lib/test-support"]
	path = lib/test-support
	url = git@git.analit.net:root/test-support.git
