<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<appSettings>
		<add key="RootDir" value="." />
		<add key="LookupTime" value="00:01:00" />
		<add key="SupplierId" value="13057" />
	</appSettings>

	<connectionStrings>
		<add name="db" connectionString="Database=usersettings;Data Source=localhost;user=root;convert zero datetime=yes;" />
	</connectionStrings>
</configuration>