<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<appSettings>
		<add key="RootDir" value="\\adc.analit.net\Inforoom\FTP\" />
		<add key="LookupTime" value="00:01:00" />
		<add key="SupplierId" value="13057" />
	</appSettings>

	<connectionStrings>
		<add name="db" connectionString="Database=usersettings;Data Source=sql.analit.net;user=InfoDrugstore;password=newpass;Connect Timeout=300;ConnectionLifeTime=300;convert zero datetime=yes;default command timeout=500" />
	</connectionStrings>

	<log4net>
		<appender name="Email" type="log4net.Appender.SmtpAppender, log4net">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка в службе ИнфоАптека" />
			<smtpHost value="box.analit.net" />
			<lossy value="false" />
			<bufferSize value="0" />
			<threshold value="ERROR" />
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="Version: %property{Version}%newlineHost: %property{log4net:HostName} %newlineUserName: %username %newlineDate: %date %newline %m %n" />
			</layout>
		</appender>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="..\var\app.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<maximumFileSize value="1MB" />
			<encoding value="UTF-8"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} %username [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="WARN" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="Email" />
		</root>

		<logger name="NHibernate" additivity="false">
			<level value="OFF" />
		</logger>
	</log4net>
</configuration>