@using NHibernate.Mapping
@using web_app.Interfaces
@using web_app.Models
@model web_app.Models.Client
@{
	ViewBag.Title = "Инструкция эксплуатации";
	Layout = "~/Views/Shared/_Layout.cshtml";
	IWebOperator webOperator = ViewBag.WebOperator;
	List<User> userList = ViewBag.UserList;
	var login = ViewBag.Login;
	var password = ViewBag.Password;

}
@if (!string.IsNullOrEmpty(login) && !string.IsNullOrEmpty(password))
{
	<div class="panel panel-body">
		<div class="col-xs-4">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<td><strong>Логин:</strong></td>
						<td>@login</td>
					</tr>
					<tr>
						<td><strong>Пароль:</strong></td>
						<td>@password</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
}
		<div class="panel panel-default">
			@if (Model.FtpIntegration)
			{
		<!-- Default panel contents -->
				<div class="panel-heading">
					<h4>Инструкция эксплуатации FTP-сервиса</h4>
				</div>
				<div class="panel-body">
					<div class="bs-callout bs-callout-info">
						<h4>Совет 1. Начинайте с простого</h4>
						Независимо от того, что вы ищете, начинайте с простых запросов, например где ближайший аэропорт?. При необходимости всегда можно добавить несколько эпитетов.
						Если вы ищете какое-либо место или товар в определенном месте, укажите местоположение. Например: булочная москва.
					</div>
					<div class="bs-callout bs-callout-info">
						<h4>Совет 2. Пользуйтесь голосовым поиском</h4>
						Устали печатать? Нажмите на значок микрофона в приложении Google или строке поиска Chrome, чтобы выполнить голосовой поиск.
					</div>
					<div class="bs-callout bs-callout-info">
						<h4>Совет 3. Тщательно подбирайте слова</h4>
						При создании поискового запроса выбирайте такие слова, которые могут содержаться на сайте, который вы ищете. Например, вместо у меня болит голова введите головная боль, так как это термин с большей вероятностью употребляется на сайтах медицинской тематики.
					</div>
					<div class="bs-callout bs-callout-info">
						<h4>Совет 4. Не беспокойтесь о мелочах</h4>
						Орфография. Google автоматически выполнит поиск по наиболее часто встречающемуся варианту написания указанного вами слова, даже если оно введено с ошибкой.
						Использование заглавных букв. Поисковый запрос Новая газета идентичен запросу новая газета.
					</div>
					<div class="bs-callout bs-callout-info">
						<h4>Совет 5. Получайте быстрые результаты</h4>
						Для многих поисковых запросов Google показывает ответы на вопросы в результатах поиска. Некоторые функции, например сведения о спортивных командах, доступны не во всех странах.
						Погода. Выполните поиск по запросу погода, чтобы узнать погоду в своем местоположении, или добавьте название города, например погода Москва, чтобы получить для него прогноз погоды.
						Словарь. Введите слово определение перед любым словом, чтобы прочитать его определение.
						Вычисления. Введите математическую формулу, например 3*9123, чтобы вычислить результат, или найдите решение сложного уравнения для построения графика.
						Перевод единиц измерения. Введите любую единицу измерения, которую нужно перевести, например 300 рублей в евро.
						Спорт. Выполните поиск по названию любимой команды, чтобы узнать расписание матчей, счет и другую информацию.
						Интересные факты. Выполните поиск по имени знаменитости, названию места, фильма или песни, чтобы найти о них интересную информацию.
					</div>
				</div>
			}
			else
			{
				<div class="panel-body">
					<div class="panel">
						<a href="@Url.Action("SwitchOnIntegration",new {Model.Id})" class="btn btn-success">Включить интеграцию</a>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Подключенные пользователи:</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in userList)
							{
								<tr>
									<td>@item.Name</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</div>
