@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()

		<ul class="nav navbar-nav navbar-right">
			<li>
				<span class="navbar-text">Пользователь <strong>@HttpContext.Current.User.Identity.Name</strong></span>
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()" id="logoutLink">Выйти</a></li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
